{{# if user}}

    {{!-- Homepage for signed in users --}}
<div class="square">
  <h3>What are you working on?</h3>
  <span class="para">Upload your project and get feedback, love, help or inspiration.</span>
    <button type="button" class="upload btn btn-primary">Upload</button>
    <button type="button" class="browse btn btn-primary">Browse</button>
</div>
<div class="another-square"><input type="text" class="search" placeholder="Search"></div>

<!-- project card -->

{{!-- Need two for each loops here --}}
<div class="row">

  {{# each allProjects}}
<a href='/project/{{this.title}}' class="projectlink">
  <div class="col-md-4 col-lg-4">
    <div class="thumbnail">
      <div class="color-block"><p>{{this.language}}{{this.user.username}} </p></div>
      <!-- <img src="/img/profile.jpg" class="img-circle" alt="..."> -->
      <div class="caption">
        <a href='/project/{{this.title}}'><h3>{{this.title}}</h3></a>
        <p>{{this.description}}</p>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{this.likes}}
      </button>
      </div>
    </div>
    {{/each}}
  </div>
</a>
</div>

{{else}}

    {{!-- Splash page for non logged in users --}}
    <video playsinline autoplay muted loop poster="polina.jpg" id="bgvid">
        <source src="/media/Office.mp4" type="video/mp4">
    </video>

    <div class="text">
      <p class="titletext">The place where code and people grow</p>
      <p class="bodytext">Learn, teach, comment, collab or just be inspired by the amazing projects developed all over the world.</p>
      <a href="/user/signin" class="btn btn-primary btn-lg signin" role="button" aria-pressed="true">Sign in</a>
      <a href="/user/signup" class="btn btn-warning btn-lg signin" role="button" aria-pressed="true">Register</a>

    </div>
    </button>

{{/if}}
