<img src="/img/coding2.jpg" class="profile-header"></img>
  <div class="profile">
    <div class="profile-block">
      <img class="kitten" src="/img/neo_the_one.jpg"></img>
      <h1>{{profile.username}}</h1>
      <h4>{{profile.accounttype}}</h4>
      <a href={{Project.link}} target="_blank">{{Project.link}}</a>
    </div>
  </div>
<div class="profile-square"></div>
  <h2 class="projecttext">Projects of {{profile.username}}</h2>


    <div class="container">
    {{#grouped_each 3 profile.projects}}
        <div class="row">
        {{#each this }}
        <a href='/project/{{this.title}}' class="projectlink">
          <div class="col-md-4 col-lg-4">
            <div class="thumbnail-project">
              <div class="color-block">
                <a href='/project/{{this.title}}'><h3>{{this.title}}</h3></a>
                </div>
                <div class="caption-project">
                <h5>{{this.description}}</h5>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{this.likes}}
                <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>{{this.language}}

              </div>
            </div>
          </div>
        </a>
        {{/each}}
        </div>
    {{/grouped_each}}
    </div>



{{!-- Loop through the projects of user --}}
