{{#if user}}
<h1>{{Project.title}}</h1>
<p>{{Project.description}}</p>
<p>{{Project.language}}</p>
<p>{{Project.question}}</p>
<p>{{Project.link}}</p>
<p>Amount of likes: {{Project.likes}}</p>

{{/if}}
