{{#if user}}
<div class="container-fluid">
  <h1>{{Project.title}}</h1>
  <p>{{Project.description}}</p>
  <p>{{Project.language}}</p>
  <p>{{Project.question}}</p>
  <p>{{Project.link}}</p>
  <p>Amount of likes: {{Project.likes}}</p>
</div>

<div class="container-fluid">
  <h3>Comments about this project</h3>
  <p>This is going to be a comment</p>
  {{!-- Loop through all the comments --}}
  
</div>

<div class="container-fluid">
  <h1>Leave a comment</h1>
  <p>Logged in as: <strong>{{user.username}}</strong></p>
  <form action="/project/{{paramsID}}" method="post">
      <div class="form-group">
          <label for="comment">Comment</label>
          <textarea class="form-control" rows="5" id="comment" name="comment" required></textarea>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{{/if}}
