{{#if user}}
<h1>{{Project.title}}</h1>
<p>{{Project.description}}</p>
<p>{{Project.language}}</p>
<p>{{Project.question}}</p>
<p>{{Project.link}}</p>
<p>Amount of likes: {{Project.likes}}</p>
<button type="button" class="btn btn-default btn-sm">
<span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
</button>

{{/if}}
